<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<form method='POST' action='/check'>

<select name=qs>
	{% for key, value in geos.items() %}
	<option name=qss value={{key}}>{{value}}</option>
	{% endfor %}
</select>
&nbsp
<input type="radio" id="sql" name="db" value="sql"
         > SQL </input>
<input type="radio" id="nosql" name="db" value="nosql"
         >NoSQL</input>
<input value='submit' type='submit'>
</form>
<br><br>
<p style='color:red'>{{timetaken}}</p>
<br><br>

{% if result_sql or result_nosql %}
<table>
    <thead>
        <th>ID</th>
        <th>REF_DATE</th>
        <th>GEO </th>
        <th>DGUID</th>   
        <th>Job vacancy statistics</th>  
        <th>North American Industry Classification System (NAICS)</th>   
        <th>UOM</th> 
        <th>UOM_ID</th> 
        <th>SCALAR_FACTOR</th>
        <th>SCALAR_ID</th>   
        <th>VECTOR</th>  
        <th>COORDINATE</th>  
        <th>VALUE</th>   
        <th>STATUS</th>  
        <th>SYMBOL</th>  
        <th>TERMINATED</th>  
        <th>DECIMALS</th>
    </thead>

    <tbody>
    {% if result_sql %}
    {% for a in result_sql %}
        <tr>
            {% for x in a %}
            <td>{{x}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    {% endif %}

    {% if result_nosql %}
    {% for a in result_nosql %}
        <tr>
            {% for x,y in a.items() %}
            <td>{{y}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    {% endif %}
        
    </tbody>
    

</table>
{% endif %}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $.ajaxSetup({
    crossDomain: true,
    // xhrFields: {
    //     withCredentials: true
    // },

    });
    $.ajax('http://127.0.0.1:5000/check', {
        method : 'POST',
    data : '{"qs":"Canada", "db":"1"}',
    crossDomain: true,
    contentType: 'application/json',
    headers: {'Access-Control-Allow-Origin': '*'}

    // xhrFields: {withCredentials: true},
     })});
</script> -->
</body>
</html>